<h3>Héroes comics <small>marvel y DC</small></h3>

<hr />

<div class="card-columns">
  <div class="card" *ngFor="let data of heroes; let i = index">
    <img [src]="data.img" class="card-img-top img-fluid" />
    <div class="card-body">
      <h5 class="card-title">{{ data.nombre }}</h5>
      <p class="card-text">
        {{ data.bio }}
      </p>
      <p class="card-text">
        <small class="text-muted">Aparición en {{ data.aparicion }}</small>
      </p>
      <button class="btn btn-primary btn-block" (click)="verHeroe(i)">
        Ver mas...
      </button>
    </div>
  </div>
</div>
